body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

main {
    height: 100vh;
    background-image: url(https://miro.medium.com/max/1400/1*2kmYJdNvUCAU3ufDR0HTmA.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    padding: 15px 35px;
    background-color: #3eaf7c;
    color: white;
    border-radius: 5px;
    width: max-content;
    margin: 5px auto;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    font-size: 1.2rem;
}

button:hover {
    background-color: #308f64;
}

button:disabled {
    background-color: #777;
    cursor: not-allowed;
}

input,
textarea {
    border-radius: 5px;
    background-color: white;
    border: 1px solid silver;
    margin: 10px;
    padding: 15px 15px;
}

p {
    margin: 0;
}

p,
input {
    font-size: 1rem;
}
