body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

main {
    height: 100vh;
    background-image: url(https://miro.medium.com/max/1400/1*2kmYJdNvUCAU3ufDR0HTmA.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    padding: 4% 10%;
    background-color: #3eaf7c;
    color: white;
    border-radius: 5px;
    width: max-content;
    margin: 5px auto;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #308f64;
}

input {
    border-radius: 5px;
    background-color: white;
    border: 1px solid silver;
    margin: 10px;
    padding: 15px 5%;
}

p {
    margin: 0;
}

p,
input,
button {
    font-size: 1rem;
}
