body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

main {
    min-height: 100vh;
    background-image: url(https://background-tiles.com/overview/green/patterns/large/1053.png);
    background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}

button {
    padding: 15px 35px;
    background-color: #3eaf7c;
    color: white;
    border-radius: 5px;
    width: max-content;
    margin: 5px auto;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    font-size: 1.2rem;
}

button:hover {
    background-color: #308f64;
}

button:disabled {
    background-color: #777;
    cursor: not-allowed;
}

input,
textarea {
    border-radius: 5px;
    background-color: white;
    border: 1px solid silver;
    margin: 10px;
    padding: 15px 15px;
}

p {
    margin: 0;
}

p,
input {
    font-size: 1rem;
}

.spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #888;
        border-color: #888 transparent #888 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
