#buglist {
    display: flex;
    flex-direction: column;

    height: 100%;
    .container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        table {
            margin: 70px 0;
            background-color: #384a60;
            max-width: 80vw;
            width: 100%;
            border-radius: 10px;
            padding: 1.5%;
            thead {
                background-color: white;

                tr {
                    th {
                        border: 1px solid silver;
                        background-color: silver;
                        padding: 1%;
                        &:first-child {
                            text-align: left;
                        }
                        &:last-child {
                            width: 100px;
                        }
                    }
                }
            }

            tbody {
                background-color: white;

                tr {
                    td {
                        text-align: center;
                        padding: 1%;
                        &:first-child {
                            text-align: left;
                            width: 60%;
                        }
                    }

                    .title {
                        font-weight: bold;
                        font-size: 1.1rem;
                        line-height: 170%;
                    }

                    .description {
                        font-style: italic;
                    }
                    .state {
                        select {
                            padding: 10px 20px;
                            font-size: 16px;
                            &:before {
                                content: "";
                                display: block;
                                width: 20px;
                                height: 20px;
                                background-color: #384a60;
                                border-radius: 50%;
                                margin-right: 10px;
                            }
                            option {
                                padding: 10px 20px;
                                &:before {
                                    content: "";
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    background-color: #384a60;
                                    border-radius: 50%;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    .delete {
                        margin: 0;
                        width: 100px;
                        cursor: pointer;
                        div {
                            width: 35px;
                            height: 35px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-image: url(../assets/delete-red.svg);
                            &:hover {
                                -webkit-animation-name: shake;
                                -webkit-animation-duration: 0.3s;
                                -webkit-transform-origin: 80% 80%;
                                -webkit-animation-iteration-count: infinite;
                                -webkit-animation-timing-function: linear;
                                animation-name: shake;
                                animation-duration: 0.3s;
                                transform-origin: 80% 80%;
                                animation-iteration-count: infinite;
                                animation-timing-function: linear;
                            }
                        }
                    }
                }
            }
        }
    }
}
